<div id="main-content">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          
         <!-- <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="fa fa-bars"></i><a href="index.html/admin/adminactions.html">Action</a></li>
           
          </ol> -->
        </div>
      </div>
      <!-- page start-->
      <h1>
        <span> Welcome {{UserName}} </span> <br>
        <span> Total Income From the Page : {{totalIncome}} </span> <br>
        <span> Previous Months Total Income :{{previousMonthIncome}} </span> <br>
        <span> Current Months Total Income :{{currentMonthIncome}} </span>
      
        
      </h1>
      <!-- page end-->
    </div>
</div>
  