<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">Complains</header>
  
            <table class="table table-striped table-advance table-hover">
              <tbody>
                <tr>
                  <th>Full Name</th>
                  <th>Package Name</th>
                  <th> Rating</th>
                  <th> Complain</th>
                  <th> Complain Status</th>
                  <th>Action</th>
                </tr>
                <tr ng-repeat="complain in complains">
                  <td>{{complain.user_name}}</td>
                   <td>{{complain.package_packagename}}</td>
                    <td>{{complain.rating1}}</td>
                   <td>{{complain.complain}}</td>
                    <td>{{complain.complainstatus}}</td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-danger" href="#!admin/deletecomplain/{{complain.ratingid}}">Delete</i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </section>
  </section>
  