<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">Create Voucher</header>
            <div class="panel-body">
              <div class="form">
                <form
                  class="form-validate form-horizontal"
                  id="feedback_form"
                  name="myForm"
                  ng-submit="createVoucher(voucher)"
                >
                  <div class="form-group">
                    <label for="status" class="control-label col-lg-2"
                      >Status <span class="required"></span></label
                    >
                    <div class="col-lg-10">
                      <select
                        name="status"
                        ng-model="voucher.voucherstatus"
                        ng-options="status for status in statuses track by status"
                        class="form-control form-control-line"
                        required
                      ></select>
                      <span class="text-danger" ng-show="myForm.status.$touched && myForm.status.$error.required"
                        >Status is required.</span
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="voucher1" class="control-label col-lg-2"
                      >Voucher <span class="required"></span></label
                    >
                    <div class="col-lg-10">
                      <input
                        ng-model="voucher.voucher1"
                        class="form-control"
                        id="voucher1"
                        name="voucher1"
                        type="text"
                        required
                      />
                      <span class="text-danger" ng-show="myForm.voucher1.$touched && myForm.voucher1.$error.required"
                        >Voucher is required.</span
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-success" type="submit">
                        Create Voucher
                      </button>
                      <a href="#!/admin/viewvouchers" class="btn btn-danger" type="button">
                        Cancel
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </section>
  