<div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Dashboard</h4>
        </div>
        <!-- /.col-lg-12 -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3"
          style="max-width: 36rem; padding-left: 18px; margin-left: 18px; padding-top: 18px; padding-bottom:18px ;">
          <h1>Total Income</h1>
          <h1 style="color: white;">{{totalIncome}}</h1>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white bg-warning mb-3"
          style="max-width: 36rem; padding-left: 18px; padding-top: 18px; padding-bottom: 18px;">
          <h1>Current Month Income</h1>
          <h1 style="color: white;">{{currentMonthIncome}}</h1>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white bg-success mb-3"
          style="max-width: 36rem; padding-left: 18px; padding-top: 18px; padding-bottom: 18px;">
          <h1>Previous Month Income</h1>
          <h1 style="color: white;">{{previousMonthIncome}}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-white bg-danger mb-3"
          style="max-width: 36rem; padding-left: 18px; padding-top: 18px; padding-bottom: 18px; margin-left: 18px; margin-top: 20px;">
          <h1>Total Accepted Orders</h1>
          <h1 style="color: white;">{{OrderCount}}</h1>
        </div>
      </div>
    </div>
  
  </div>
  
  
  
  <!-- /.container-fluid -->
  <footer class="footer text-center">2021 &copy; InraBd</footer>
  </div>