<div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Seller Home Page</h4>
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <h1>Welcome </h1>
  
        <h1>You have logged in as a <span style="color: hotpink;">{{UserType}}</span></h1>
  
        <h1>Yuor Unique Seller ID is <span style="color: indigo;">{{UserId}}</span></h1>
  
  
      </div>
    </div>
  </div>