<!--sidebar start-->
<div id="sidebar" class="nav-collapse">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu">
    <li class="">
      <a class="" href="#!admin/">
        <i class="icon_house_alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/viewusers">
        <i class="icon_house_alt"></i>
        <span>View Users</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/createuser">
        <i class="icon_house_alt"></i>
        <span>Create Manager</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/viewnotices">
        <i class="icon_house_alt"></i>
        <span>View Notices</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/createnotice">
        <i class="icon_house_alt"></i>
        <span>Create Notice</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/viewvouchers">
        <i class="icon_house_alt"></i>
        <span>View Vouchers</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/createvoucher">
        <i class="icon_house_alt"></i>
        <span>Create Voucher</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/adminactions">
        <i class="icon_house_alt"></i>
        <span>Admin Actions</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/viewauditlog">
        <i class="icon_house_alt"></i>
        <span>Audit Logs</span>
      </a>
    </li>
    <li class="">
      <a class="" href="#!admin/viewcomplains">
        <i class="icon_house_alt"></i>
        <span>View Complains</span>
      </a>
    </li>
  
  </ul>
  <!-- sidebar menu end-->
</div>
<!--sidebar end-->
