<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
      <div class="sidebar-head">
        <h3>
          <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
          <span class="hide-menu">Seller Option</span>
        </h3>
      </div>
      <ul class="nav" id="side-menu">

     
        <li style="padding: 60px 0 0">
          <a href="#!SellerHome">Home</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/dashboard">Dashboard</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/addpackage">Add
            Product</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/showpackages">Show
            Products</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/showorder">Show
            Orders</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/viewnotices">Show Notices</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/myprofile">Update
            Profile</a>
        </li>
       
        <li style="padding: 60px 0 0">
          <a href="#!logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>