<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
      <div class="sidebar-head">
        <h3>
          <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
          <span class="hide-menu">Seller Option</span>
        </h3>
      </div>
      <ul class="nav" id="side-menu">
        <li style="padding: 70px 0 0">
          <a href="#!seller/addpackage" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Add
            Package</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/showpackages" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Show
            Packages</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/showorder" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Show
            Orders</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/myprofile" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>My
            Profile</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!seller/dashboard" class="waves-effect"><i class="fa fa-clock-o fa-fw"
              aria-hidden="true"></i>Dashboard</a>
        </li>
        <li style="padding: 60px 0 0">
          <a href="#!logout" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>